# 전처리 완성본 - final.csv

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [1]:
import pandas as pd
import numpy as np
import requests
from collections import deque
from datetime import datetime
import math
import ast
import json
import time
from sklearn.preprocessing import OneHotEncoder

In [2]:
#경고문 무시하고 싶은 경우만 실행
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings('ignore', category=FutureWarning)

In [3]:
# 모든 컬럼을 보여주도록 설정
pd.set_option('display.max_columns', None)

final = pd.read_csv('final(11.25).csv', index_col=0)
col_list = ['Unnamed:0','Station', 'Previous Station Code',
       'Previous Station Name', 'Up/Down Line', 'Day of Week', 'Hour',
       'Minute', 'Route Code', 'Car Index', 'Congestion', 'Number of Transfer',
       'Fast Transfer', 'Fast Get Off', '06-07시간대 승차', '06-07시간대 하차', '07-08시간대 승차',
       '07-08시간대 하차', '08-09시간대 승차', '08-09시간대 하차', '09-10시간대 승차',
       '09-10시간대 하차', '10-11시간대 승차', '10-11시간대 하차']
final.columns = col_list

final

C:\Users\박수빈\AppData\Local\Temp\ipykernel_21144\156248680.py:4: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  final = pd.read_csv('final(11.25).csv', index_col=0)

,Unnamed:0,Station,Previous Station Code,Previous Station Name,Up/Down Line,Day of Week,Hour,Minute,Route Code,Car Index,Congestion,Number of Transfer,Fast Transfer,Fast Get Off,06-07시간대 승차,06-07시간대 하차,07-08시간대 승차,07-08시간대 하차,08-09시간대 승차,08-09시간대 하차,09-10시간대 승차,09-10시간대 하차,10-11시간대 승차,10-11시간대 하차
0,0,201,202,을지로입구역,0,FRI,6,0,0.0,0,14.00,1.0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 1]","[0, 1, 0, 1, 0, 0, 1, 0, 1, 0]",22.841920,193.853810,57.493598,697.334158,86.595970,2333.077464,22.841920,193.853810,57.493598,697.334158
1,1,201,202,을지로입구역,0,FRI,6,0,0.0,1,21.00,1.0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 1]","[0, 1, 0, 1, 0, 0, 1, 0, 1, 0]",22.841920,193.853810,57.493598,697.334158,86.595970,2333.077464,22.841920,193.853810,57.493598,697.334158
2,2,201,202,을지로입구역,0,FRI,6,0,0.0,2,20.00,1.0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 1]","[0, 1, 0, 1, 0, 0, 1, 0, 1, 0]",22.841920,193.853810,57.493598,697.334158,86.595970,2333.077464,22.841920,193.853810,57.493598,697.334158
3,3,201,202,을지로입구역,0,FRI,6,0,0.0,3,16.00,1.0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 1]","[0, 1, 0, 1, 0, 0, 1, 0, 1, 0]",22.841920,193.853810,57.493598,697.334158,86.595970,2333.077464,22.841920,193.853810,57.493598,697.334158
4,4,201,202,을지로입구역,0,FRI,6,0,0.0,4,13.00,1.0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 1]","[0, 1, 0, 1, 0, 0, 1, 0, 1, 0]",22.841920,193.853810,57.493598,697.334158,86.595970,2333.077464,22.841920,193.853810,57.493598,697.334158
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301075,301075,243,242,아현역,1,WED,10,50,4.0,5,38.00,1.0,"[0, 0, 0, 1, 0, 0, 1, 0, 0, 0]","[0, 0, 0, 1, 0, 0, 1, 0, 0, 0]",147.876844,159.684725,349.078969,486.300592,495.828724,1339.473605,147.876844,159.684725,349.078969,486.300592
301076,301076,243,242,아현역,1,WED,10,50,4.0,6,38.00,1.0,"[0, 0, 0, 1, 0, 0, 1, 0, 0, 0]","[0, 0, 0, 1, 0, 0, 1, 0, 0, 0]",147.876844,159.684725,349.078969,486.300592,495.828724,1339.473605,147.876844,159.684725,349.078969,486.300592
301077,301077,243,242,아현역,1,WED,10,50,4.0,7,35.75,1.0,"[0, 0, 0, 1, 0, 0, 1, 0, 0, 0]","[0, 0, 0, 1, 0, 0, 1, 0, 0, 0]",147.876844,159.684725,349.078969,486.300592,495.828724,1339.473605,147.876844,159.684725,349.078969,486.300592
301078,301078,243,242,아현역,1,WED,10,50,4.0,8,28.50,1.0,"[0, 0, 0, 1, 0, 0, 1, 0, 0, 0]","[0, 0, 0, 1, 0, 0, 1, 0, 0, 0]",147.876844,159.684725,349.078969,486.300592,495.828724,1339.473605,147.876844,159.684725,349.078969,486.300592
301079,301079,243,242,아현역,1,WED,10,50,4.0,9,25.50,1.0,"[0, 0, 0, 1, 0, 0, 1, 0, 0, 0]","[0, 0, 0, 1, 0, 0, 1, 0, 0, 0]",147.876844,159.684725,349.078969,486.300592,495.828724,1339.473605,147.876844,159.684725,349.078969,486.300592

In [4]:
final['Station'] = final['Station'].astype(str)

## 모델링 input용 추가 전처리 함수

In [5]:
# DOW, time feature engineering
def time_features(dataframe):
    # 요일을 숫자로 매핑
    day_of_week_mapping = {'MON': 0, 'TUE': 1, 'WED': 2, 'THU': 3, 'FRI': 4}
    dataframe['Day of Week'] = dataframe['Day of Week'].map(day_of_week_mapping)

    # 시간 정보를 이용하여 새로운 변수 생성
    dataframe['sin_time'] = np.sin(2 * np.pi * dataframe['Hour'] / 24)
    dataframe['cos_time'] = np.cos(2 * np.pi * dataframe['Hour'] / 24)

    # 분 정보를 이용하여 새로운 변수 생성 (사인 및 코사인 변환)
    dataframe['sin_minute'] = np.sin(2 * np.pi * dataframe['Minute'] / 60)
    dataframe['cos_minute'] = np.cos(2 * np.pi * dataframe['Minute'] / 60)

    return dataframe

In [6]:
# drop & one-hot encoding
def drop_columns_and_one_hot_encode(dataframe):
    # drop
    columns_to_drop = ['Previous Station Name', 'HourMinute']
    dataframe.drop(columns=columns_to_drop, inplace=True)

    # one-hot encoding
    #dataframe = pd.get_dummies(dataframe, columns=['Route Code'])

    return dataframe

In [7]:
# Fast Transfer, Fast Get Off

def process_fast_columns(df):
    # 컬럼의 값을 리스트로 변환
    df['Fast Transfer'] = df['Fast Transfer'].apply(ast.literal_eval)
    df['Fast Get Off'] = df['Fast Get Off'].apply(ast.literal_eval)

    # 리스트의 값을 int로 변환하고 NumPy 배열로 변환
    df['Fast Transfer'] = df['Fast Transfer'].apply(lambda x: np.array([int(val) for val in x]))
    df['Fast Get Off'] = df['Fast Get Off'].apply(lambda x: np.array([int(val) for val in x]))

    # 'Fast Transfer' 컬럼의 값을 펼쳐서 새로운 컬럼에 할당
    for i in range(10):
        new_column_name = f'Fast Transfer{i}'
        df[new_column_name] = df['Fast Transfer'].apply(lambda x: x[i] if (isinstance(x, np.ndarray) and i < len(x)) else np.nan)

    # 'Fast Get Off' 컬럼의 값을 펼쳐서 새로운 컬럼에 할당
    for i in range(10):
        new_column_name = f'Fast Get Off{i}'
        df[new_column_name] = df['Fast Get Off'].apply(lambda x: x[i] if (isinstance(x, np.ndarray) and i < len(x)) else np.nan)

    # 원래 컬럼은 삭제 (옵션)
    df = df.drop(['Fast Transfer', 'Fast Get Off'], axis=1)

    return df

In [8]:
def one_hot_encode_for_route_code(dataframe):
    
    dataframe['Route Code_0.0'] = 0
    dataframe['Route Code_1.0'] = 0
    dataframe['Route Code_2.0'] = 0
    dataframe['Route Code_3.0'] = 0
    dataframe['Route Code_4.0'] = 0
    dataframe['Route Code_5.0'] = 0
    
    total_row_num = len(dataframe)
    for i in range(total_row_num):
        if(dataframe['Route Code'][i] == 0):
            dataframe.loc[dataframe.index[i],'Route Code_0.0'] = 1
        if(dataframe['Route Code'][i] == 1):
            dataframe.loc[dataframe.index[i],'Route Code_1.0'] = 1
        if(dataframe['Route Code'][i] == 2):
            dataframe.loc[dataframe.index[i],'Route Code_2.0'] = 1
        if(dataframe['Route Code'][i] == 3):
            dataframe.loc[dataframe.index[i],'Route Code_3.0'] = 1
        if(dataframe['Route Code'][i] == 4):
            dataframe.loc[dataframe.index[i],'Route Code_4.0'] = 1
        if(dataframe['Route Code'][i] == 5):
            dataframe.loc[dataframe.index[i],'Route Code_5.0'] = 1
    dataframe.drop('Route Code', axis=1, inplace=True)

    return dataframe

# Modeling input 전처리 - 여기부터 전처리팀 작업 시작

In [9]:
df = pd.read_csv('final_preprocessed(최종본ver2).csv', index_col=0)

In [10]:
df

,Station,Previous Station Code,Up/Down Line,Day of Week,Hour,Minute,Number of Transfer,Congestion0,Congestion1,Congestion2,Congestion3,Congestion4,Congestion5,Congestion6,Congestion7,Congestion8,Congestion9,GetIn_cnt,GetOut_cnt,PrevCongestion0,PrevCongestion1,PrevCongestion2,PrevCongestion3,PrevCongestion4,PrevCongestion5,PrevCongestion6,PrevCongestion7,PrevCongestion8,PrevCongestion9,sin_time,cos_time,sin_minute,cos_minute,Route Code_0.0,Route Code_1.0,Route Code_2.0,Route Code_3.0,Route Code_4.0,Route Code_5.0,Fast Transfer0,Fast Transfer1,Fast Transfer2,Fast Transfer3,Fast Transfer4,Fast Transfer5,Fast Transfer6,Fast Transfer7,Fast Transfer8,Fast Transfer9,Fast Get Off0,Fast Get Off1,Fast Get Off2,Fast Get Off3,Fast Get Off4,Fast Get Off5,Fast Get Off6,Fast Get Off7,Fast Get Off8,Fast Get Off9
0,201,201,0,4,6,0,1.0,14.0,21.0,20.00,16.00,13.0,11.00,12.0,16.00,15.0,12.00,22.841920,193.853810,14.0,21.0,20.00,16.00,13.0,11.00,12.0,16.00,15.0,12.00,1.000000,6.123234e-17,0.000000,1.0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,1,0,1,0
1,201,201,0,4,6,0,1.0,14.0,21.0,20.00,16.00,13.0,11.00,12.0,16.00,15.0,12.00,22.841920,193.853810,14.0,21.0,20.00,16.00,13.0,11.00,12.0,16.00,15.0,12.00,1.000000,6.123234e-17,0.000000,1.0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,1,0,1,0
2,201,201,0,4,6,0,1.0,14.5,21.5,20.75,16.50,13.5,11.25,12.5,16.75,15.5,12.50,22.841920,193.853810,14.5,21.5,20.75,16.50,13.5,11.25,12.5,16.75,15.5,12.50,1.000000,6.123234e-17,0.000000,1.0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,1,0,1,0
3,201,201,0,4,6,10,1.0,7.0,11.0,12.00,9.00,10.0,16.00,5.0,9.00,6.0,5.00,22.841920,193.853810,7.0,11.0,12.00,9.00,10.0,16.00,5.0,9.00,6.0,5.00,1.000000,6.123234e-17,0.866025,0.5,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,1,0,1,0
4,201,201,0,4,6,10,1.0,7.0,11.0,12.00,9.00,10.0,16.00,5.0,9.00,6.0,5.00,22.841920,193.853810,7.0,11.0,12.00,9.00,10.0,16.00,5.0,9.00,6.0,5.00,1.000000,6.123234e-17,0.866025,0.5,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30327,243,243,0,0,8,10,1.0,33.0,43.0,46.00,51.00,42.0,45.00,42.0,54.00,40.0,33.00,194.784974,526.208586,33.0,43.0,46.00,51.00,42.0,45.00,42.0,54.00,40.0,33.00,0.866025,-5.000000e-01,0.866025,0.5,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0
30328,243,243,0,0,8,10,1.0,33.0,43.0,46.00,51.00,42.0,45.00,42.0,54.00,40.0,33.00,194.784974,526.208586,33.0,43.0,46.00,51.00,42.0,45.00,42.0,54.00,40.0,33.00,0.866025,-5.000000e-01,0.866025,0.5,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0
30329,243,243,0,0,8,10,1.0,33.0,43.0,46.00,51.25,42.0,45.00,42.0,53.75,40.0,33.25,194.784974,526.208586,33.0,43.0,46.00,51.25,42.0,45.00,42.0,53.75,40.0,33.25,0.866025,-5.000000e-01,0.866025,0.5,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0
30330,243,243,0,0,8,20,1.0,24.5,26.5,31.00,32.50,31.0,32.00,31.0,36.00,35.5,24.50,194.784974,526.208586,24.5,26.5,31.00,32.50,31.0,32.00,31.0,36.00,35.5,24.50,0.866025,-5.000000e-01,0.866025,-0.5,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0
30331,243,243,0,0,8,20,1.0,35.0,38.0,0.00,0.00,0.0,0.00,0.0,0.00,0.0,0.00,194.784974,526.208586,45.0,47.0,45.00,46.00,45.0,52.00,51.0,35.00,0.0,0.00,0.866025,-5.000000e-01,0.866025,-0.5,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0

## 1. 2호선 '역 이름' - '역 코드' 정리

In [11]:
url = "https://apis.openapi.sk.com/puzzle/subway/meta/stations"
headers = {
"appkey": "1ye7ZxeuDu4y4xg0b34DD9rGKEGChyQWa1jMMaOr"
}

response = requests.get(url, headers=headers)

if response.status_code == 200: # API 호출이 성공했을 경우의 처리
  data_subway_2 = response.json()  # JSON 응답 데이터를 파싱
  data_subway_2 = data_subway_2['contents']
  data_subway_2 = pd.DataFrame(data_subway_2)

else:
# API 호출이 실패했을 경우의 처리
  print(f"API 호출이 실패했습니다. 상태 코드: {response.status_code}")

In [12]:
data_subway_2

    subwayLine stationName stationCode
0          1호선        소요산역         100
1          1호선        동두천역         101
2          1호선         보산역         102
3          1호선      동두천중앙역         103
4          1호선         지행역         104
..         ...         ...         ...
477        5호선         방이역        P551
478        5호선         오금역        P552
479        5호선         개롱역        P553
480        5호선         거여역        P554
481        5호선         마천역        P555

[482 rows x 3 columns]

In [13]:
#"2호선"인 역들만 추출
df_subway2= data_subway_2[data_subway_2['subwayLine'].str.contains('2호선', case=False, na=False)]

In [14]:
#"2호선" 역만 모은 df_subway2 데이터프레임 정리
df_subway2.reset_index(drop=True, inplace=True)
df_subway2.drop(df_subway2.columns[0],inplace=True, axis=1)

C:\Users\박수빈\AppData\Local\Temp\ipykernel_21144\2980525818.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subway2.drop(df_subway2.columns[0],inplace=True, axis=1)

In [15]:
df_subway2

   stationName stationCode
0          시청역         201
1       을지로입구역         202
2       을지로3가역         203
3       을지로4가역         204
4   동대문역사문화공원역         205
5          신당역         206
6        상왕십리역         207
7         왕십리역         208
8         한양대역         209
9          뚝섬역         210
10         성수역         211
11         성수역       211-0
12         용답역       211-1
13         신답역       211-2
14         용두역       211-3
15        신설동역       211-4
16         성수역       211-R
17       건대입구역         212
18         구의역         213
19         강변역         214
20       잠실나루역         215
21         잠실역         216
22       잠실새내역         217
23      종합운동장역         218
24         삼성역         219
25         선릉역         220
26         역삼역         221
27         강남역         222
28         교대역         223
29         서초역         224
30         방배역         225
31         사당역         226
32        낙성대역         227
33      서울대입구역         228
34         봉천역         229
35         신림역         230
36        신대방역         231
37    구로디지털단지역         232
38         대림역         233
39        신도림역         234
40        신도림역       234-0
41        도림천역       234-1
42       양천구청역       234-2
43      신정네거리역       234-3
44        까치산역       234-4
45         문래역         235
46      영등포구청역         236
47         당산역         237
48         합정역         238
49       홍대입구역         239
50         신촌역         240
51         이대역         241
52         아현역         242
53        충정로역         243

## 2. 사용자로부터 입력받은 데이터 처리

In [16]:
#1) 입력받은 '출발역'과 '도착역'의 station code를 매칭
x = input("출발역을 입력해주세요: ")
y = input("도착역을 입력해주세요: ")

# 출발역과 도착역의 station_code 매칭하기
start_idx = df_subway2[df_subway2['stationName'] == x].index
if not start_idx.empty:
    start_station_code = df_subway2.loc[start_idx[0], 'stationCode']
    print("출발역 코드:", start_station_code)
else:
    print("출발역을 찾을 수 없습니다.")

dest_idx = df_subway2[df_subway2['stationName'] == y].index
if not dest_idx.empty:
    dest_station_code = df_subway2.loc[dest_idx[0], 'stationCode']
    print("도착역 코드:", dest_station_code)
else:
    print("도착역을 찾을 수 없습니다.")

출발역을 입력해주세요:  신촌역
도착역을 입력해주세요:  을지로입구역

출발역 코드: 240
도착역 코드: 202

In [17]:
#2) 내선/외선(상행/하행) 알아내기

# in = 내선순환(0): 왼쪽에서 빼고 오른쪽으로 붙임
# out = 외선순환(1): 오른쪽에서 빼고 왼쪽으로 붙임

def in_out_tag(start_station, end_station):
    
    # 2호선 역이 맞는지 확인
    station_list = [
        '시청', '을지로입구', '을지로3가', '을지로4가', '동대문역사문화공원', '신당', '상왕십리', '왕십리', '한양대',
        '뚝섬', '성수', '건대입구', '구의', '강변', '잠실나루', '잠실', '잠실새내', '종합운동장', '삼성', '선릉',
        '역삼', '강남', '교대', '서초', '방배', '사당', '낙성대', '서울대입구', '봉천', '신림', '신대방',
        '구로디지털단지', '대림', '신도림', '문래', '영등포구청', '당산', '합정', '홍대입구', '신촌', '이대', '아현',
        '충정로'
    ]

    if (start_station not in station_list) or (end_station not in station_list):
        return -1

    in_dq = deque([
        '시청', '을지로입구', '을지로3가', '을지로4가', '동대문역사문화공원', '신당', '상왕십리', '왕십리', '한양대',
        '뚝섬', '성수', '건대입구', '구의', '강변', '잠실나루', '잠실', '잠실새내', '종합운동장', '삼성', '선릉',
        '역삼', '강남', '교대', '서초', '방배', '사당', '낙성대', '서울대입구', '봉천', '신림', '신대방',
        '구로디지털단지', '대림', '신도림', '문래', '영등포구청', '당산', '합정', '홍대입구', '신촌', '이대', '아현',
        '충정로'
    ])

    out_dq = deque([
        '시청', '을지로입구', '을지로3가', '을지로4가', '동대문역사문화공원', '신당', '상왕십리', '왕십리', '한양대',
        '뚝섬', '성수', '건대입구', '구의', '강변', '잠실나루', '잠실', '잠실새내', '종합운동장', '삼성', '선릉',
        '역삼', '강남', '교대', '서초', '방배', '사당', '낙성대', '서울대입구', '봉천', '신림', '신대방',
        '구로디지털단지', '대림', '신도림', '문래', '영등포구청', '당산', '합정', '홍대입구', '신촌', '이대', '아현',
        '충정로'
    ])

    in_cnt = 0
    out_cnt = 0

    # in_cnt 계산

    cur = in_dq.popleft()
    while (cur != start_station):
        in_dq.append(cur)
        cur = in_dq.popleft()

    while (cur != end_station):
        in_dq.append(cur)
        cur = in_dq.popleft()
        in_cnt = in_cnt + 1

    # out_cnt 계산

    cur = out_dq.pop()
    while (cur != start_station):
        out_dq.appendleft(cur)
        cur = out_dq.pop()

    while (cur != end_station):
        out_dq.appendleft(cur)
        cur = out_dq.pop()
        out_cnt = out_cnt + 1

    if (in_cnt <= out_cnt):
        return 0
    else:
        return 1

In [18]:
# Station code -> Station name 으로 변환해주는 함수
def station_code_to_name(station_code): 
    station_code = str(station_code)
    prev_idx = df_subway2[df_subway2['stationCode'] == station_code].index
    if not prev_idx.empty:
        previous_station_name = df_subway2.loc[prev_idx[0], 'stationName']
        if(previous_station_name[-1] == '역'):
            previous_station_name = previous_station_name[:-1]
        
    else:
        print("역을 찾을 수 없습니다.")
    return previous_station_name

In [19]:
#3) 출발역과 도착역 사이 존재하는 역의 개수 세기
def num_of_between_station(start_station_code, dest_station_code):
    start_station_name = station_code_to_name(start_station_code)
    dest_station_name = station_code_to_name(dest_station_code)
    
    up_down_direction = in_out_tag(start_station_name, dest_station_name)
    if(up_down_direction == 0):
        direction = '상행'
    else:
        direction='하행'
    
    start_station_code = int(start_station_code)
    dest_station_code = int(dest_station_code)
    
    between_station_num = dest_station_code - start_station_code
    between_station_num = abs(between_station_num)-1 
    #print(between_station_num)

    if (between_station_num > (41-between_station_num)):
        between_station_num = (41-between_station_num)
    
    return [direction, between_station_num]

In [20]:
#4) previous_station 알아내기
def find_prev_station(start_station_code, dest_station_code):
    start_station_name = station_code_to_name(start_station_code)
    dest_station_name = station_code_to_name(dest_station_code)
    
    up_down_direction = in_out_tag(start_station_name, dest_station_name)
    if(up_down_direction == 0): #시계방향(내선)
        previous_tmp = int(start_station_code) -1
        previous_station_code = str(previous_tmp)
        if(previous_station_code == '200'):
            previous_station_code = '243'

    else:
        previous_tmp = int(start_station_code) +1
        previous_station_code = str(previous_tmp)
        if(previous_station_code == '244'):
            previous_station_code = '201'
            
    return previous_station_code

In [21]:
previous_station_code= find_prev_station(start_station_code, dest_station_code)

## 3. '출발역'의 실시간 칸 별 혼잡도 호출

In [22]:
# Station name -> Station Code로 변환해주는 함수
def station_name_to_code(station_name): # 입력 형식: string (station_NM = "신촌") -> 출력 형식: string(return = '0240')
    station_dict = {
        '한양대': '0209', '신도림': '0234', '아현': '0242', '봉천': '0229', '충정로': '0243', 
        '용답': '0244', '문래': '0235', '잠실새내': '0217', '신림': '0230', '종합운동장': '0218', 
        '삼성': '0219', '신대방': '0231', '영등포구청': '0236', '양천구청': '0248', '을지로4가': '0204', 
        '뚝섬': '0210', '신답': '0245', '을지로입구': '0202', '사당': '0226', '을지로3가': '0203', 
        '성수': '0211', '건대입구': '0212', '당산': '0237', '신정네거리': '0249', '구의': '0213', 
        '합정': '0238', '용두': '0250', '구로디지털단지': '0232', '홍대입구': '0239', '신촌': '0240', 
        '이대': '0241', '신설동': '0246', '도림천': '0247', '까치산': '0200', '시청': '0201', 
        '동대문역사문화공원': '0205', '신당': '0206', '상왕십리': '0207', '강변': '0214', '잠실나루': '0215', 
        '잠실': '0216', '선릉': '0220', '역삼': '0221', '강남': '0222', '교대': '0223', '서초': '0224', 
        '방배': '0225', '낙성대': '0227', '서울대입구': '0228', '왕십리': '0208', '대림': '0233'
    }

    if station_name not in station_dict:
        print("해당 역이 존재하지 않습니다.")
        return -1
        
    return station_dict[station_name]

In [23]:
# Station code -> Station name 으로 변환해주는 함수
def station_code_to_name(station_code): 
    station_code = str(station_code)
    prev_idx = df_subway2[df_subway2['stationCode'] == station_code].index
    if not prev_idx.empty:
        previous_station_name = df_subway2.loc[prev_idx[0], 'stationName']
        if(previous_station_name[-1] == '역'):
            previous_station_name = previous_station_name[:-1]
        
    else:
        print("역을 찾을 수 없습니다.")
    return previous_station_name

In [24]:
#함수 작동 검사
station_code_to_name(previous_station_code)

'홍대입구'

In [35]:
#서울시 열린 데이터 광장: 실시간 역별 도착 열차정보 호출하는 함수
def train_code(STATION_NAME, TIME, INOUT_TAG, SEOUL_KEY):
    
    STATION_CD = station_name_to_code(STATION_NAME)
    if (STATION_CD == -1): 
        return -1
    
    # 입력값 -> 수정 X
    SERVICE = "SearchSTNTimeTableByIDService"
    START_INDEX = 0 # 페이징 시작번호: 데이터 행 시작번호
    END_INDEX = 200 # 페이징 끝번호 : 데이터 행 끝번호
    WEEK_TAG = 1 # 평일:1, 토요일:2, 휴일/일요일:3
    TYPE = "json"
    
    # 호출 url
    url = f"http://openAPI.seoul.go.kr:8088/{SEOUL_KEY}/{TYPE}/{SERVICE}/{START_INDEX}/{END_INDEX}/{STATION_CD}/{WEEK_TAG}/{INOUT_TAG}"
    response = requests.get(url)

    # 시간에 따른 열차 번호 찾기(주어진 시간 직후의 열차 번호) 
    #  입력값: 시간
    
    # JSON 데이터를 딕셔너리로 파싱
    parsed_data = json.loads(response.text)
    print(url)
    
     # "row" 키에 해당하는 값에서 "ARRIVETIME"이 TIME보다 큰 빠른 열차 번호 찾기
    fast_train = None
    min_time = float('inf')
    for train in parsed_data["SearchSTNTimeTableByIDService"]["row"]:
        if train.get("ARRIVETIME") >= TIME:
            train_time = int(train.get("ARRIVETIME").replace(":", ""))
            if train_time < min_time:
                min_time = train_time
                fast_train = train["TRAIN_NO"]

    if fast_train == None:
        print("해당 열차가 존재하지 않습니다.")
        return -1
    
    return fast_train

In [26]:
#서울시 열린 데이터 광장: 실시간 역별 도착 열차정보, 출발역, 종착역 호출하는 함수
def train_code_modified(STATION_NAME, TIME, INOUT_TAG, SEOUL_KEY):

    STATION_CD = station_name_to_code(STATION_NAME)
    if (STATION_CD == -1):
        return -1

    # 입력값 -> 수정 X
    SERVICE = "SearchSTNTimeTableByIDService"
    START_INDEX = 0 # 페이징 시작번호: 데이터 행 시작번호
    END_INDEX = 200 # 페이징 끝번호 : 데이터 행 끝번호
    WEEK_TAG = 1 # 평일:1, 토요일:2, 휴일/일요일:3
    TYPE = "json"

    # 호출 url
    url = f"http://openAPI.seoul.go.kr:8088/{SEOUL_KEY}/{TYPE}/{SERVICE}/{START_INDEX}/{END_INDEX}/{STATION_CD}/{WEEK_TAG}/{INOUT_TAG}"
    response = requests.get(url)

    # 시간에 따른 열차 번호 찾기(주어진 시간 직후의 열차 번호)
    #  입력값: 시간

    # JSON 데이터를 딕셔너리로 파싱
    parsed_data = json.loads(response.text)

     # "row" 키에 해당하는 값에서 "ARRIVETIME"이 TIME보다 큰 빠른 열차 번호 찾기
    fast_train = None
    route_start = None
    route_end = None
    min_time = float('inf')
    for train in parsed_data["SearchSTNTimeTableByIDService"]["row"]:
        if train.get("ARRIVETIME") >= TIME:
            train_time = int(train.get("ARRIVETIME").replace(":", ""))
            if train_time < min_time:
                min_time = train_time
                fast_train = train["TRAIN_NO"]
                route_start = train["SUBWAYSNAME"]
                route_end = train["SUBWAYENAME"]
                

    if fast_train == None:
        print("해당 열차가 존재하지 않습니다.")
        return -1
    
    
    return fast_train, route_start, route_end

In [27]:
#SK open api: 해당 열차번호의 실시간 칸별 혼잡도 호출하는 함수
def train_number_to_current_congestion_list(TRAIN_NUMBER, SK_KEY):
    url = f"https://apis.openapi.sk.com/puzzle/subway/congestion/rltm/trains/2/{TRAIN_NUMBER}"
    headers = {
        "accept": "application/json",
        "Content-Type": "application/json",
        "appkey": SK_KEY}
    
    response = requests.get(url, headers=headers)
    result_response = json.loads(response.text)

    if result_response["success"] is False:
        print("해당 열차에 대한 실시간 혼잡도 정보가 존재하지 않습니다.")
        return -1

    
    # JSON 문자열을 파이썬 객체로 변환
    parsed_data = json.loads(response.text)
    
    # "congestionCar" 값을 파이썬 리스트로 변환
    congestion_car_list = parsed_data['data']['congestionResult']['congestionCar'].split('|')
    
    return congestion_car_list

In [34]:
#train_code() 함수 호출한 다음, train_number_to_current_congestion_list() 함수 호출하는 함수
def current_train_congestion_list(STATION_NAME, INOUT_TAG, SEOUL_KEY, SK_KEY):
    
    # 현재 시간 받아오기
    CURRENT_TIME = datetime.now().strftime('%H:%M:%S')
    
    # 현재 시간에 <STATION_NAME>에 들어오는 <INOUT_TAG>행 열차 번호 받아오기
    TRAIN_NUMBER = train_code(STATION_NAME, CURRENT_TIME, INOUT_TAG, SEOUL_KEY)
    print("TRAIN_NUMBER: " + str(TRAIN_NUMBER))

    if TRAIN_NUMBER == -1:
        return -1

    # 그 열차에 대한 실시간 혼잡도 리스트 출력
    CONGESTION_LIST = train_number_to_current_congestion_list(TRAIN_NUMBER, SK_KEY)
    
    if CONGESTION_LIST == -1:
        return -1
        
    return CONGESTION_LIST

In [36]:
#사용자의 출발 역의 열차의 칸 별 혼잡도 정보 호출
def real_time_congestion_call(start_station_code, dest_station_code):
    
    STATION_NAME = station_code_to_name(start_station_code) #📌 역 이름(문자열 형식)
    
    #출발역과 도착역으로 상/하행 방향 알아내기
    return_list = num_of_between_station(start_station_code, dest_station_code)
    up_down_direction = return_list[0]
    
    #📌 상행,내선: 1 / 하행,외선: 2
    if (up_down_direction == "상행"): INOUT_TAG = 1 #내선일 때는 INOUT_TAG=1
    else: INOUT_TAG = 2

    SEOUL_KEY = "486d5742676f746136314f63476259" #📌 서울 열린 데이터 광장 인증키
    SK_KEY = "00ktw7sXKI1xrryQfBMN9awYnj7cEUPT7rAYY3Dz" #📌 SK open API 앱키


    CURRENT_TIME = datetime.now().strftime('%H:%M:%S') #현재 시간 받아오기
    
    #요일 계산하기
    x = datetime.today().weekday()
    days = ['MON', 'TUE', 'WED', 'THU', 'FRI']
    TODAY_WEEKDAY = days[x]

    CONGESTION_LIST = current_train_congestion_list(STATION_NAME, INOUT_TAG, SEOUL_KEY, SK_KEY)
    
    result_data = []
    
    if (CONGESTION_LIST == -1):
        print("데이터 수집 실패")
    else:
        Hour, Minute, Second = CURRENT_TIME.split(":")
        if (INOUT_TAG == 1): #내선일때
            data_new = {
                'Station Name': STATION_NAME,
                'Up/Down': 0,
                'Hour': Hour,
                'Minute': Minute,
                'Second':Second,
                'Congestion List': CONGESTION_LIST,
                'Day of Week': TODAY_WEEKDAY
            }
        else: #외선일때
            data_new = {
                'Station Name': STATION_NAME,
                'Up/Down': 1,
                'Hour': Hour,
                'Minute': Minute,
                'Second':Second,
                'Congestion List': CONGESTION_LIST,
            'Day of Week': TODAY_WEEKDAY
        }
        

    result_data.append(data_new)
    
    # 딕셔너리를 데이터프레임으로 변환
    realtime_df = pd.DataFrame(result_data)

    return realtime_df

In [38]:
present_station_info = real_time_congestion_call(start_station_code, dest_station_code)
present_station_info

http://openAPI.seoul.go.kr:8088/486d5742676f746136314f63476259/json/SearchSTNTimeTableByIDService/0/200/0240/1/1
TRAIN_NUMBER: 2066

,Station Name,Up/Down,Hour,Minute,Second,Congestion List,Day of Week
0,신촌,0,08,04,46,"[143, 113, 134, 149, 148, 130, 136, 117, 95, 95]",THU

## 4. 출발역 정보 데이터프레임 형성

### 4.1 'final'과 동일한 형식의 데이터프레임  만들기

In [69]:
def df_add_init(START_STATION_CODE, DEST_STATION_CODE): 
    
    #출발역과 도착역으로 상/하행 방향 알아내기
    return_list = num_of_between_station(START_STATION_CODE, DEST_STATION_CODE)
    up_down_direction = return_list[0]
    
    if(up_down_direction == "상행"):
        UP_DOWN_LINE = 0
    else:
        UP_DOWN_LINE = 1
        
    #출발역의 이전역 알아내기
    PREVIOUS_STATION_CODE = find_prev_station(START_STATION_CODE, DEST_STATION_CODE)
    
    #현재 출발역의 실시간 혼잡도 정보 불러오기
    present_station_info = real_time_congestion_call(START_STATION_CODE, DEST_STATION_CODE)

    
    #현재 요일 정보
    TODAYWEEKDAY = present_station_info['Day of Week'][0]
    HOUR = present_station_info['Hour'][0]
    MINUTE = present_station_info['Minute'][0]
    
    df_add = {
        'Station': [START_STATION_CODE],
        'Previous Station Code': [PREVIOUS_STATION_CODE],
        'Previous Station Name': [station_code_to_name(PREVIOUS_STATION_CODE)],
        'Up/Down Line': [UP_DOWN_LINE],
        'Day of Week': [TODAYWEEKDAY],
        'Hour': [HOUR],
        'Minute': [MINUTE],
        'Route Code': [0],
        'Car Index': [0],
        'Congestion': [0],
        'Number of Transfer': [0],
        'Fast Transfer': [[]],
        'Fast Get Off': [[]],
        #'06-07시간대 승차': [0.0],
        #'06-07시간대 하차': [0.0],
        #'07-08시간대 승차': [0.0],
        #'07-08시간대 하차': [0.0],
        #'08-09시간대 승차': [0.0],
        #'08-09시간대 하차': [0.0],
        #'09-10시간대 승차': [0.0],
        #'09-10시간대 하차': [0.0],
        #'10-11시간대 승차': [0.0],
        #'10-11시간대 하차': [0.0]
    }
    df_add = pd.DataFrame(df_add)
    
    #사이역 개수 세서 데이터프레임에 추가할 행 개수 체크
    result_list = num_of_between_station(START_STATION_CODE, DEST_STATION_CODE)
    if (result_list[1] < (41-result_list[1])):
        between_station_num = result_list[1]
    else:
        between_station_num = 41- result_list[1]
    
    
    # df는 복사하려는 데이터프레임, row_index는 복사하려는 행의 인덱스, n은 복사 횟수
    row_to_copy = df_add.loc[[0]]  # 대괄호를 두 번 사용하여 DataFrame 형태를 유지
    rows_copied = pd.concat([row_to_copy] * (between_station_num+1), ignore_index=True)
    
    # 필요하다면, 복사된 행들을 원본 데이터프레임에 다시 추가
    df_add = pd.concat([df_add, rows_copied], ignore_index=True)
    
    
    #'Station'열 갱신
    for i in range(1, between_station_num+2):
        if(up_down_direction=="하행"): #하행(외선) : 역 코드 1씩 감소
            if( (int(df_add.loc[df_add.index[i-1],['Station']])-1) == 200):
                df_add.loc[df_add.index[i], 'Station']= 243
            else:
                df_add.loc[df_add.index[i], 'Station']= int(df_add.loc[df_add.index[i-1],['Station']])-1
        else: #상행(내선) : 역 코드 1씩 증가
            if( (int(df_add.loc[df_add.index[i-1],['Station']])+1) == 244):
                df_add.loc[df_add.index[i], 'Station']= 201
            else:
                df_add.loc[df_add.index[i], 'Station']=int(df_add.loc[df_add.index[i-1],['Station']])+1
    
    
    #'Previous Station Code'열 갱신
    for i in range(1, between_station_num+2):
        df_add.loc[df_add.index[i], 'Previous Station Code'] = df_add.loc[df_add.index[i-1], 'Station'] 
        
    #'Previous Station Name'열 갱신
    for i in range(1, between_station_num+2):
        df_add.loc[df_add.index[i], 'Previous Station Name']= station_code_to_name(df_add.loc[df_add.index[i],'Previous Station Code'])
    
    CONGESTION_LIST = present_station_info['Congestion List'][0]
    
    df_add.drop(df_add.index[0], inplace=True)
    df_add.reset_index(drop=True, inplace=True)
    return df_add, CONGESTION_LIST

In [280]:
df_add, CONGESTION_LIST = df_add_init(start_station_code, dest_station_code)

C:\Users\박수빈\AppData\Local\Temp\ipykernel_8060\109402987.py:75: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  if( (int(df_add.loc[df_add.index[i-1],['Station']])+1) == 244):
C:\Users\박수빈\AppData\Local\Temp\ipykernel_8060\109402987.py:78: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  df_add.loc[df_add.index[i], 'Station']=int(df_add.loc[df_add.index[i-1],['Station']])+1
C:\Users\박수빈\AppData\Local\Temp\ipykernel_8060\109402987.py:75: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  if( (int(df_add.loc[df_add.index[i-1],['Station']])+1) == 244):
C:\Users\박수빈\AppData\Local\Temp\ipykernel_8060\109402987.py:78: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  df_add.loc[df_add.index[i], 'Station']=int(df_add.loc[df_add.index[i-1],['Station']])+1
C:\Users\박수빈\AppData\Local\Temp\ipykernel_8060\109402987.py:75: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  if( (int(df_add.loc[df_add.index[i-1],['Station']])+1) == 244):
C:\Users\박수빈\AppData\Local\Temp\ipykernel_8060\109402987.py:78: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  df_add.loc[df_add.index[i], 'Station']=int(df_add.loc[df_add.index[i-1],['Station']])+1
C:\Users\박수빈\AppData\Local\Temp\ipykernel_8060\109402987.py:75: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  if( (int(df_add.loc[df_add.index[i-1],['Station']])+1) == 244):
C:\Users\박수빈\AppData\Local\Temp\ipykernel_8060\109402987.py:75: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  if( (int(df_add.loc[df_add.index[i-1],['Station']])+1) == 244):
C:\Users\박수빈\AppData\Local\Temp\ipykernel_8060\109402987.py:78: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  df_add.loc[df_add.index[i], 'Station']=int(df_add.loc[df_add.index[i-1],['Station']])+1
C:\Users\박수빈\AppData\Local\Temp\ipykernel_8060\109402987.py:75: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  if( (int(df_add.loc[df_add.index[i-1],['Station']])+1) == 244):
C:\Users\박수빈\AppData\Local\Temp\ipykernel_8060\109402987.py:78: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  df_add.loc[df_add.index[i], 'Station']=int(df_add.loc[df_add.index[i-1],['Station']])+1
C:\Users\박수빈\AppData\Local\Temp\ipykernel_8060\109402987.py:75: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  if( (int(df_add.loc[df_add.index[i-1],['Station']])+1) == 244):
C:\Users\박수빈\AppData\Local\Temp\ipykernel_8060\109402987.py:78: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  df_add.loc[df_add.index[i], 'Station']=int(df_add.loc[df_add.index[i-1],['Station']])+1
C:\Users\박수빈\AppData\Local\Temp\ipykernel_8060\109402987.py:75: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  if( (int(df_add.loc[df_add.index[i-1],['Station']])+1) == 244):
C:\Users\박수빈\AppData\Local\Temp\ipykernel_8060\109402987.py:78: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  df_add.loc[df_add.index[i], 'Station']=int(df_add.loc[df_add.index[i-1],['Station']])+1
C:\Users\박수빈\AppData\Local\Temp\ipykernel_8060\109402987.py:75: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  if( (int(df_add.loc[df_add.index[i-1],['Station']])+1) == 244):
C:\Users\박수빈\AppData\Local\Temp\ipykernel_8060\109402987.py:78: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  df_add.loc[df_add.index[i], 'Station']=int(df_add.loc[df_add.index[i-1],['Station']])+1
C:\Users\박수빈\AppData\Local\Temp\ipykernel_8060\109402987.py:75: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  if( (int(df_add.loc[df_add.index[i-1],['Station']])+1) == 244):
C:\Users\박수빈\AppData\Local\Temp\ipykernel_8060\109402987.py:78: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  df_add.loc[df_add.index[i], 'Station']=int(df_add.loc[df_add.index[i-1],['Station']])+1

In [281]:
CONGESTION_LIST

['29', '29', '29', '27', '27', '27', '37', '33', '27', '33']

In [282]:
df_add

,Station,Previous Station Code,Previous Station Name,Up/Down Line,Day of Week,Hour,Minute,Route Code,Car Index,Congestion,Number of Transfer,Fast Transfer,Fast Get Off
0,241,240,신촌,0,WED,19,34,0,0,0,0,[],[]
1,242,241,이대,0,WED,19,34,0,0,0,0,[],[]
2,243,242,아현,0,WED,19,34,0,0,0,0,[],[]
3,201,243,충정로,0,WED,19,34,0,0,0,0,[],[]
4,202,201,시청,0,WED,19,34,0,0,0,0,[],[]
5,203,202,을지로입구,0,WED,19,34,0,0,0,0,[],[]
6,204,203,을지로3가,0,WED,19,34,0,0,0,0,[],[]
7,205,204,을지로4가,0,WED,19,34,0,0,0,0,[],[]
8,206,205,동대문역사문화공원,0,WED,19,34,0,0,0,0,[],[]
9,207,206,신당,0,WED,19,34,0,0,0,0,[],[]

### 4.2 'Hour'열 처리

In [283]:
#'시간': 문자열을 정수로
def hour_to_int(df_add):
    df_add['Hour'] =df_add['Hour'].astype(int)
    return df_add

In [284]:
df_add = hour_to_int(df_add)
df_add

,Station,Previous Station Code,Previous Station Name,Up/Down Line,Day of Week,Hour,Minute,Route Code,Car Index,Congestion,Number of Transfer,Fast Transfer,Fast Get Off
0,241,240,신촌,0,WED,19,34,0,0,0,0,[],[]
1,242,241,이대,0,WED,19,34,0,0,0,0,[],[]
2,243,242,아현,0,WED,19,34,0,0,0,0,[],[]
3,201,243,충정로,0,WED,19,34,0,0,0,0,[],[]
4,202,201,시청,0,WED,19,34,0,0,0,0,[],[]
5,203,202,을지로입구,0,WED,19,34,0,0,0,0,[],[]
6,204,203,을지로3가,0,WED,19,34,0,0,0,0,[],[]
7,205,204,을지로4가,0,WED,19,34,0,0,0,0,[],[]
8,206,205,동대문역사문화공원,0,WED,19,34,0,0,0,0,[],[]
9,207,206,신당,0,WED,19,34,0,0,0,0,[],[]

### 4.3 'Minute'열 처리

In [285]:
#'분' 단위 조정: 내림
def make_minute_floor(df_add):
    
    df_add['Minute']= df_add['Minute'].astype(int) #'Minute'열 정수로 처리
    total_row_num = len(df_add)
    
    for i in range(1,total_row_num):
        df_add.loc[df_add.index[i], 'Minute'] = df_add.loc[df_add.index[i-1], 'Minute'] +2 #역 1개 지날 때마다 2분씩 추가
    
    df_add['Minute']=(df_add['Minute'].astype(int))//10*10 #일의 자리에서 내림
    
    for i in range(total_row_num):
        if (df_add.loc[df_add.index[i], 'Minute'] >= 60):
            df_add.loc[df_add.index[i], 'Minute'] = (df_add.loc[df_add.index[i], 'Minute']) % 60
            df_add.loc[df_add.index[i], 'Hour'] = df_add.loc[df_add.index[i], 'Hour'] + ((df_add.loc[df_add.index[i], 'Minute']) // 60) +1
    return df_add

In [286]:
df_add = make_minute_floor(df_add)
df_add

,Station,Previous Station Code,Previous Station Name,Up/Down Line,Day of Week,Hour,Minute,Route Code,Car Index,Congestion,Number of Transfer,Fast Transfer,Fast Get Off
0,241,240,신촌,0,WED,19,30,0,0,0,0,[],[]
1,242,241,이대,0,WED,19,30,0,0,0,0,[],[]
2,243,242,아현,0,WED,19,30,0,0,0,0,[],[]
3,201,243,충정로,0,WED,19,40,0,0,0,0,[],[]
4,202,201,시청,0,WED,19,40,0,0,0,0,[],[]
5,203,202,을지로입구,0,WED,19,40,0,0,0,0,[],[]
6,204,203,을지로3가,0,WED,19,40,0,0,0,0,[],[]
7,205,204,을지로4가,0,WED,19,40,0,0,0,0,[],[]
8,206,205,동대문역사문화공원,0,WED,19,50,0,0,0,0,[],[]
9,207,206,신당,0,WED,19,50,0,0,0,0,[],[]

### 4.4 'Route Code'열 처리

In [287]:
#INOUT_TAG 설정하기
if (df_add.iloc[0]['Up/Down Line'] == 0) : INOUT_TAG = 1
else: INOUT_TAG = 2

# 출발역, 종착역 받기
STATION_NAME = station_code_to_name(start_station_code)
TIME = present_station_info['Hour'][0]+":" + present_station_info['Minute'][0]+":" + present_station_info['Second'][0]
SEOUL_KEY = "6f494e6b747370723130335542724261"

fast_train, route_start, route_end= train_code_modified(STATION_NAME, TIME, INOUT_TAG , SEOUL_KEY)

In [288]:
print(route_start)
print(route_end)

성수
성수

In [289]:
# 특정 경로의 Route Code값 반환
def route_num_new(inout_tag, route_start, route_end):
    if inout_tag == 1 : # 상행: 노선 0~2
        # 노선 0: 성수→을지로입구, 성수→신도림, 성수→홍대입구
        if route_start == "성수" and route_end == "을지로입구":
            return 0
        elif route_start == "성수" and route_end == "신도림":
            return 0
        elif route_start == "성수" and route_end == "홍대입구":
            return 0
        # 노선 1: 서울대입구→성수, 성수→삼성, 신도림→성수, 성수→서울대입구
        elif route_start == "서울대입구" and route_end == "성수":
            return 1
        elif route_start == "성수" and route_end == "삼성":
            return 1
        elif route_start == "신도림" and route_end == "성수":
            return 1
        elif route_start == "성수" and route_end == "서울대입구":
            return 1
        # 노선2: 홍대입구→성수, 삼성→성수, 성수→성수, 을지로입구→성수
        elif route_start == "홍대입구" and route_end == "성수":
            return 2
        elif route_start == "삼성" and route_end == "성수":
            return 2
        elif route_start == "성수" and route_end == "성수":
            return 2
        elif route_start == "을지로입구" and route_end == "성수":
            return 2
            
    elif inout_tag == 2 : # 하행: 노선 3~6
        # 노선3: 서울대입구 → 성수, 홍대입구 → 성수, 신도림 → 성수
        if route_start == "서울대입구" and route_end == "성수":
            return 3
        elif route_start == "홍대입구" and route_end == "성수":
            return 3
        elif route_start == "신도림" and route_end == "성수":
            return 3
        # 노선4: 성수 → 을지로입구, 성수 → 성수, 성수 → 삼성, 성수 → 홍대입구, 삼성 → 성수, 을지로입구 → 성수
        elif route_start == "성수" and route_end == "을지로입구":
            return 4
        elif route_start == "성수" and route_end == "성수":
            return 4
        elif route_start == "성수" and route_end == "삼성":
            return 4
        elif route_start == "성수" and route_end == "홍대입구":
            return 4
        elif route_start == "삼성" and route_end == "성수":
            return 4
        elif route_start == "을지로입구" and route_end == "성수":
            return 4
        # 노선5: 성수 → 서울대입구, 성수 → 신도림
        elif route_start == "성수" and route_end == "서울대입구":
            return 5
        elif route_start == "성수" and route_end == "신도림":
            return 5
        # 노선6: 신도림 → 까치산
        elif route_start == "신도림" and route_end == "까치산":
            return 6

In [290]:
# 데이터프레임에 ROUTE CODE 저장하기
route_code = route_num_new(INOUT_TAG, route_start, route_end)
df_add['Route Code'] = route_code

In [291]:
df_add

,Station,Previous Station Code,Previous Station Name,Up/Down Line,Day of Week,Hour,Minute,Route Code,Car Index,Congestion,Number of Transfer,Fast Transfer,Fast Get Off
0,241,240,신촌,0,WED,19,30,2,0,0,0,[],[]
1,242,241,이대,0,WED,19,30,2,0,0,0,[],[]
2,243,242,아현,0,WED,19,30,2,0,0,0,[],[]
3,201,243,충정로,0,WED,19,40,2,0,0,0,[],[]
4,202,201,시청,0,WED,19,40,2,0,0,0,[],[]
5,203,202,을지로입구,0,WED,19,40,2,0,0,0,[],[]
6,204,203,을지로3가,0,WED,19,40,2,0,0,0,[],[]
7,205,204,을지로4가,0,WED,19,40,2,0,0,0,[],[]
8,206,205,동대문역사문화공원,0,WED,19,50,2,0,0,0,[],[]
9,207,206,신당,0,WED,19,50,2,0,0,0,[],[]

### 4.5 'Number of Transfer' 열 처리

In [292]:
def num_of_transfer_column(df_add):
    #df_add와 final의 'Station'열 모두 str로 처리
    df_add['Station']=df_add['Station'].astype(str)
    final['Station']=final['Station'].astype(str)
    # 'Station'을 키로 하고 'Number of Transfer'를 값으로 하는 딕셔너리 생성
    num_of_transfer_map = final.set_index('Station')['Number of Transfer'].to_dict()
    
    # df_add 데이터프레임의 'Station' 열에 매핑 적용
    df_add['Number of Transfer'] = df_add['Station'].map(num_of_transfer_map)
    return df_add

In [293]:
df_add = num_of_transfer_column(df_add)

In [294]:
df_add

,Station,Previous Station Code,Previous Station Name,Up/Down Line,Day of Week,Hour,Minute,Route Code,Car Index,Congestion,Number of Transfer,Fast Transfer,Fast Get Off
0,241,240,신촌,0,WED,19,30,2,0,0,0.0,[],[]
1,242,241,이대,0,WED,19,30,2,0,0,0.0,[],[]
2,243,242,아현,0,WED,19,30,2,0,0,1.0,[],[]
3,201,243,충정로,0,WED,19,40,2,0,0,1.0,[],[]
4,202,201,시청,0,WED,19,40,2,0,0,0.0,[],[]
5,203,202,을지로입구,0,WED,19,40,2,0,0,1.0,[],[]
6,204,203,을지로3가,0,WED,19,40,2,0,0,1.0,[],[]
7,205,204,을지로4가,0,WED,19,40,2,0,0,2.0,[],[]
8,206,205,동대문역사문화공원,0,WED,19,50,2,0,0,1.0,[],[]
9,207,206,신당,0,WED,19,50,2,0,0,0.0,[],[]

### 4.6 'Fast Transfer'열 처리

In [295]:
def fast_transfer_column(df_add):
    # 'Station'을 키로 하고 'Fast Transfer'를 값으로 하는 딕셔너리 생성
    fast_transfer_map = final.set_index('Station')['Fast Transfer'].to_dict()
    # df_add 데이터프레임의 'Station' 열에 매핑 적용
    df_add['Fast Transfer'] = df_add['Station'].map(fast_transfer_map)
    return df_add

In [296]:
df_add = fast_transfer_column(df_add)

In [297]:
df_add

,Station,Previous Station Code,Previous Station Name,Up/Down Line,Day of Week,Hour,Minute,Route Code,Car Index,Congestion,Number of Transfer,Fast Transfer,Fast Get Off
0,241,240,신촌,0,WED,19,30,2,0,0,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",[]
1,242,241,이대,0,WED,19,30,2,0,0,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",[]
2,243,242,아현,0,WED,19,30,2,0,0,1.0,"[0, 0, 0, 1, 0, 0, 1, 0, 0, 0]",[]
3,201,243,충정로,0,WED,19,40,2,0,0,1.0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 1]",[]
4,202,201,시청,0,WED,19,40,2,0,0,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",[]
5,203,202,을지로입구,0,WED,19,40,2,0,0,1.0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 1]",[]
6,204,203,을지로3가,0,WED,19,40,2,0,0,1.0,"[0, 0, 0, 1, 0, 0, 1, 0, 0, 0]",[]
7,205,204,을지로4가,0,WED,19,40,2,0,0,2.0,"[0, 1, 0, 0, 1, 1, 0, 0, 1, 0]",[]
8,206,205,동대문역사문화공원,0,WED,19,50,2,0,0,1.0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 1]",[]
9,207,206,신당,0,WED,19,50,2,0,0,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",[]

### 4.7 'Fast Get Off'열 처리

In [298]:
def fast_getoff_column(df_add):
    # 'Station'을 키로 하고 'Fast Get Off'를 값으로 하는 딕셔너리 생성
    fast_getoff_map = final.set_index('Station')['Fast Get Off'].to_dict()

    # df_add 데이터프레임의 'Station' 열에 매핑 적용
    df_add['Fast Get Off'] = df_add['Station'].map(fast_getoff_map)
    
    return df_add

In [299]:
df_add = fast_getoff_column(df_add)

In [300]:
df_add

,Station,Previous Station Code,Previous Station Name,Up/Down Line,Day of Week,Hour,Minute,Route Code,Car Index,Congestion,Number of Transfer,Fast Transfer,Fast Get Off
0,241,240,신촌,0,WED,19,30,2,0,0,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 1, 0, 0, 0, 0, 0, 0, 1, 0]"
1,242,241,이대,0,WED,19,30,2,0,0,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 1, 1, 0, 0, 0, 0]"
2,243,242,아현,0,WED,19,30,2,0,0,1.0,"[0, 0, 0, 1, 0, 0, 1, 0, 0, 0]","[0, 0, 0, 1, 0, 0, 1, 0, 0, 0]"
3,201,243,충정로,0,WED,19,40,2,0,0,1.0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 1]","[0, 1, 0, 1, 0, 0, 1, 0, 1, 0]"
4,202,201,시청,0,WED,19,40,2,0,0,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 1, 1, 1, 1, 0, 0, 0]"
5,203,202,을지로입구,0,WED,19,40,2,0,0,1.0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 1]","[0, 1, 0, 1, 0, 0, 0, 0, 1, 0]"
6,204,203,을지로3가,0,WED,19,40,2,0,0,1.0,"[0, 0, 0, 1, 0, 0, 1, 0, 0, 0]","[0, 0, 1, 1, 0, 0, 1, 0, 1, 0]"
7,205,204,을지로4가,0,WED,19,40,2,0,0,2.0,"[0, 1, 0, 0, 1, 1, 0, 0, 1, 0]","[0, 0, 1, 0, 0, 0, 0, 1, 0, 0]"
8,206,205,동대문역사문화공원,0,WED,19,50,2,0,0,1.0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 1]","[0, 0, 1, 1, 0, 0, 1, 1, 0, 0]"
9,207,206,신당,0,WED,19,50,2,0,0,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 1, 0, 0, 1, 0, 0, 0]"

### 4.8 '승하차 인원'열 처리

In [301]:
def get_inout_column(df_add, up_down_direction):
    if(up_down_direction=="상행"): #내선일때
        final_tmp = final[final['Up/Down Line']==0]
    else:
        final_tmp = final[final['Up/Down Line']==1]
        
    getinout_map_1 = final_tmp.set_index('Station')['06-07시간대 승차'].to_dict()
    df_add['06-07시간대 승차'] = df_add['Station'].map(getinout_map_1)
    
    getinout_map_2 = final_tmp.set_index('Station')['06-07시간대 하차'].to_dict()
    df_add['06-07시간대 하차'] = df_add['Station'].map(getinout_map_2)
    
    
    getinout_map_3 = final_tmp.set_index('Station')['07-08시간대 승차'].to_dict()
    df_add['07-08시간대 승차'] = df_add['Station'].map(getinout_map_3)
        
    getinout_map_4 = final_tmp.set_index('Station')['07-08시간대 하차'].to_dict()
    df_add['07-08시간대 하차'] = df_add['Station'].map(getinout_map_4)
    
    
    
    getinout_map_5 = final_tmp.set_index('Station')['08-09시간대 승차'].to_dict()
    df_add['08-09시간대 승차'] = df_add['Station'].map(getinout_map_5)
    
    getinout_map_6 = final_tmp.set_index('Station')['08-09시간대 하차'].to_dict()
    df_add['08-09시간대 하차'] = df_add['Station'].map(getinout_map_6)
    
    
    getinout_map_7 = final_tmp.set_index('Station')['09-10시간대 승차'].to_dict()
    df_add['09-10시간대 승차'] = df_add['Station'].map(getinout_map_7)
    
    getinout_map_8 = final_tmp.set_index('Station')['09-10시간대 하차'].to_dict()
    df_add['09-10시간대 하차'] = df_add['Station'].map(getinout_map_8)
    
    
    
    getinout_map_9 = final_tmp.set_index('Station')['10-11시간대 승차'].to_dict()
    df_add['10-11시간대 승차'] = df_add['Station'].map(getinout_map_9)
    
    getinout_map_10 = final_tmp.set_index('Station')['10-11시간대 하차'].to_dict()
    df_add['10-11시간대 하차'] = df_add['Station'].map(getinout_map_10)
    
    
    return df_add

In [302]:
start_station_name = station_code_to_name(start_station_code)
dest_station_name = station_code_to_name(dest_station_code)
up_down_direction = in_out_tag(start_station_name, dest_station_name)
df_add = get_inout_column(df_add, up_down_direction)

In [303]:
up_down_direction

0

In [304]:
df_add

,Station,Previous Station Code,Previous Station Name,Up/Down Line,Day of Week,Hour,Minute,Route Code,Car Index,Congestion,Number of Transfer,Fast Transfer,Fast Get Off,06-07시간대 승차,06-07시간대 하차,07-08시간대 승차,07-08시간대 하차,08-09시간대 승차,08-09시간대 하차,09-10시간대 승차,09-10시간대 하차,10-11시간대 승차,10-11시간대 하차
0,241,240,신촌,0,WED,19,30,2,0,0,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 1, 0, 0, 0, 0, 0, 0, 1, 0]",195.167832,172.491318,570.834463,299.791842,792.155793,881.073283,195.167832,172.491318,570.834463,299.791842
1,242,241,이대,0,WED,19,30,2,0,0,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 1, 1, 0, 0, 0, 0]",246.725192,153.286637,642.743818,274.793533,891.637491,505.004291,246.725192,153.286637,642.743818,274.793533
2,243,242,아현,0,WED,19,30,2,0,0,1.0,"[0, 0, 0, 1, 0, 0, 1, 0, 0, 0]","[0, 0, 0, 1, 0, 0, 1, 0, 0, 0]",147.876844,159.684725,349.078969,486.300592,495.828724,1339.473605,147.876844,159.684725,349.078969,486.300592
3,201,243,충정로,0,WED,19,40,2,0,0,1.0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 1]","[0, 1, 0, 1, 0, 0, 1, 0, 1, 0]",40.253971,341.625642,101.320100,1228.901459,152.606770,4111.547193,40.253971,341.625642,101.320100,1228.901459
4,202,201,시청,0,WED,19,40,2,0,0,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 1, 1, 1, 1, 0, 0, 0]",59.116156,436.677108,156.314332,1924.617038,262.040802,5135.240482,59.116156,436.677108,156.314332,1924.617038
5,203,202,을지로입구,0,WED,19,40,2,0,0,1.0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 1]","[0, 1, 0, 1, 0, 0, 0, 0, 1, 0]",31.145456,255.490508,73.699004,894.824316,145.433203,2249.787959,31.145456,255.490508,73.699004,894.824316
6,204,203,을지로3가,0,WED,19,40,2,0,0,1.0,"[0, 0, 0, 1, 0, 0, 1, 0, 0, 0]","[0, 0, 1, 1, 0, 0, 1, 0, 1, 0]",23.310220,169.683709,50.541757,410.053036,103.649942,951.891162,23.310220,169.683709,50.541757,410.053036
7,205,204,을지로4가,0,WED,19,40,2,0,0,2.0,"[0, 1, 0, 0, 1, 1, 0, 0, 1, 0]","[0, 0, 1, 0, 0, 0, 0, 1, 0, 0]",55.092177,104.297345,90.285937,264.446349,141.969683,602.641437,55.092177,104.297345,90.285937,264.446349
8,206,205,동대문역사문화공원,0,WED,19,50,2,0,0,1.0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 1]","[0, 0, 1, 1, 0, 0, 1, 1, 0, 0]",155.976314,119.105982,380.782341,241.099890,637.242200,466.335903,155.976314,119.105982,380.782341,241.099890
9,207,206,신당,0,WED,19,50,2,0,0,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 1, 0, 0, 1, 0, 0, 0]",204.565614,88.317397,606.409365,187.034855,986.571794,525.661915,204.565614,88.317397,606.409365,187.034855

### 4.9 'Car Index' 열 처리 - 행 별로 10개씩 늘리기

In [305]:
def car_index_column(df_add):
    total_row_num = len(df_add)
    
    result_df_add = pd.DataFrame(columns=df_add.columns)

    for i in range(total_row_num):
        row_to_copy = df_add.loc[[i]]  # 단일 행 복사
        # row_to_copy를 9번 반복하여 단일 데이터프레임으로 만들기
        rows_copied = pd.concat([row_to_copy] * 9, ignore_index=True)
        result_df_add = pd.concat([result_df_add, row_to_copy, rows_copied], ignore_index=True)

        
        #df_add = pd.concat(df_add.loc[i*10] + rows_copied, ignore_index=True)

    # 'Car Index' 열 값 할당
    for i in range(10 * total_row_num):
        result_df_add.loc[i, 'Car Index'] = i % 10

    return result_df_add

In [306]:
df_add = car_index_column(df_add)

C:\Users\박수빈\AppData\Local\Temp\ipykernel_8060\2895583405.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df_add = pd.concat([result_df_add, row_to_copy, rows_copied], ignore_index=True)

In [307]:
df_add

,Station,Previous Station Code,Previous Station Name,Up/Down Line,Day of Week,Hour,Minute,Route Code,Car Index,Congestion,Number of Transfer,Fast Transfer,Fast Get Off,06-07시간대 승차,06-07시간대 하차,07-08시간대 승차,07-08시간대 하차,08-09시간대 승차,08-09시간대 하차,09-10시간대 승차,09-10시간대 하차,10-11시간대 승차,10-11시간대 하차
0,241,240,신촌,0,WED,19,30,2,0,0,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 1, 0, 0, 0, 0, 0, 0, 1, 0]",195.167832,172.491318,570.834463,299.791842,792.155793,881.073283,195.167832,172.491318,570.834463,299.791842
1,241,240,신촌,0,WED,19,30,2,1,0,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 1, 0, 0, 0, 0, 0, 0, 1, 0]",195.167832,172.491318,570.834463,299.791842,792.155793,881.073283,195.167832,172.491318,570.834463,299.791842
2,241,240,신촌,0,WED,19,30,2,2,0,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 1, 0, 0, 0, 0, 0, 0, 1, 0]",195.167832,172.491318,570.834463,299.791842,792.155793,881.073283,195.167832,172.491318,570.834463,299.791842
3,241,240,신촌,0,WED,19,30,2,3,0,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 1, 0, 0, 0, 0, 0, 0, 1, 0]",195.167832,172.491318,570.834463,299.791842,792.155793,881.073283,195.167832,172.491318,570.834463,299.791842
4,241,240,신촌,0,WED,19,30,2,4,0,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 1, 0, 0, 0, 0, 0, 0, 1, 0]",195.167832,172.491318,570.834463,299.791842,792.155793,881.073283,195.167832,172.491318,570.834463,299.791842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,207,206,신당,0,WED,19,50,2,5,0,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 1, 0, 0, 1, 0, 0, 0]",204.565614,88.317397,606.409365,187.034855,986.571794,525.661915,204.565614,88.317397,606.409365,187.034855
96,207,206,신당,0,WED,19,50,2,6,0,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 1, 0, 0, 1, 0, 0, 0]",204.565614,88.317397,606.409365,187.034855,986.571794,525.661915,204.565614,88.317397,606.409365,187.034855
97,207,206,신당,0,WED,19,50,2,7,0,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 1, 0, 0, 1, 0, 0, 0]",204.565614,88.317397,606.409365,187.034855,986.571794,525.661915,204.565614,88.317397,606.409365,187.034855
98,207,206,신당,0,WED,19,50,2,8,0,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 1, 0, 0, 1, 0, 0, 0]",204.565614,88.317397,606.409365,187.034855,986.571794,525.661915,204.565614,88.317397,606.409365,187.034855
99,207,206,신당,0,WED,19,50,2,9,0,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 1, 0, 0, 1, 0, 0, 0]",204.565614,88.317397,606.409365,187.034855,986.571794,525.661915,204.565614,88.317397,606.409365,187.034855

### 4.10 'Congestion' 열 처리

In [308]:
def congestion_column(df_add):
    total_row_num = len(df_add)
    for i in range(total_row_num):
        idx = i%10
        df_add.loc[df_add.index[i], 'Congestion'] = CONGESTION_LIST[idx]
    return df_add

In [309]:
df_add = congestion_column(df_add)

In [310]:
df_add

,Station,Previous Station Code,Previous Station Name,Up/Down Line,Day of Week,Hour,Minute,Route Code,Car Index,Congestion,Number of Transfer,Fast Transfer,Fast Get Off,06-07시간대 승차,06-07시간대 하차,07-08시간대 승차,07-08시간대 하차,08-09시간대 승차,08-09시간대 하차,09-10시간대 승차,09-10시간대 하차,10-11시간대 승차,10-11시간대 하차
0,241,240,신촌,0,WED,19,30,2,0,29,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 1, 0, 0, 0, 0, 0, 0, 1, 0]",195.167832,172.491318,570.834463,299.791842,792.155793,881.073283,195.167832,172.491318,570.834463,299.791842
1,241,240,신촌,0,WED,19,30,2,1,29,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 1, 0, 0, 0, 0, 0, 0, 1, 0]",195.167832,172.491318,570.834463,299.791842,792.155793,881.073283,195.167832,172.491318,570.834463,299.791842
2,241,240,신촌,0,WED,19,30,2,2,29,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 1, 0, 0, 0, 0, 0, 0, 1, 0]",195.167832,172.491318,570.834463,299.791842,792.155793,881.073283,195.167832,172.491318,570.834463,299.791842
3,241,240,신촌,0,WED,19,30,2,3,27,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 1, 0, 0, 0, 0, 0, 0, 1, 0]",195.167832,172.491318,570.834463,299.791842,792.155793,881.073283,195.167832,172.491318,570.834463,299.791842
4,241,240,신촌,0,WED,19,30,2,4,27,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 1, 0, 0, 0, 0, 0, 0, 1, 0]",195.167832,172.491318,570.834463,299.791842,792.155793,881.073283,195.167832,172.491318,570.834463,299.791842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,207,206,신당,0,WED,19,50,2,5,27,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 1, 0, 0, 1, 0, 0, 0]",204.565614,88.317397,606.409365,187.034855,986.571794,525.661915,204.565614,88.317397,606.409365,187.034855
96,207,206,신당,0,WED,19,50,2,6,37,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 1, 0, 0, 1, 0, 0, 0]",204.565614,88.317397,606.409365,187.034855,986.571794,525.661915,204.565614,88.317397,606.409365,187.034855
97,207,206,신당,0,WED,19,50,2,7,33,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 1, 0, 0, 1, 0, 0, 0]",204.565614,88.317397,606.409365,187.034855,986.571794,525.661915,204.565614,88.317397,606.409365,187.034855
98,207,206,신당,0,WED,19,50,2,8,27,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 1, 0, 0, 1, 0, 0, 0]",204.565614,88.317397,606.409365,187.034855,986.571794,525.661915,204.565614,88.317397,606.409365,187.034855
99,207,206,신당,0,WED,19,50,2,9,33,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 1, 0, 0, 1, 0, 0, 0]",204.565614,88.317397,606.409365,187.034855,986.571794,525.661915,204.565614,88.317397,606.409365,187.034855

## 5. 모델링 input용 최종 전처리

### 5.1 필요한 칼럼 추가 & 값 입력

In [314]:
df_copy = df_add.copy()

In [323]:
df_copy

,Station,Previous Station Code,Previous Station Name,Up/Down Line,Day of Week,Hour,Minute,Route Code,Car Index,Congestion,Number of Transfer,Fast Transfer,Fast Get Off,06-07시간대 승차,06-07시간대 하차,07-08시간대 승차,07-08시간대 하차,08-09시간대 승차,08-09시간대 하차,09-10시간대 승차,09-10시간대 하차,10-11시간대 승차,10-11시간대 하차
0,241,240,신촌,0,WED,19,30,2,0,29,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 1, 0, 0, 0, 0, 0, 0, 1, 0]",195.167832,172.491318,570.834463,299.791842,792.155793,881.073283,195.167832,172.491318,570.834463,299.791842
1,241,240,신촌,0,WED,19,30,2,1,29,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 1, 0, 0, 0, 0, 0, 0, 1, 0]",195.167832,172.491318,570.834463,299.791842,792.155793,881.073283,195.167832,172.491318,570.834463,299.791842
2,241,240,신촌,0,WED,19,30,2,2,29,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 1, 0, 0, 0, 0, 0, 0, 1, 0]",195.167832,172.491318,570.834463,299.791842,792.155793,881.073283,195.167832,172.491318,570.834463,299.791842
3,241,240,신촌,0,WED,19,30,2,3,27,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 1, 0, 0, 0, 0, 0, 0, 1, 0]",195.167832,172.491318,570.834463,299.791842,792.155793,881.073283,195.167832,172.491318,570.834463,299.791842
4,241,240,신촌,0,WED,19,30,2,4,27,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 1, 0, 0, 0, 0, 0, 0, 1, 0]",195.167832,172.491318,570.834463,299.791842,792.155793,881.073283,195.167832,172.491318,570.834463,299.791842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,207,206,신당,0,WED,19,50,2,5,27,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 1, 0, 0, 1, 0, 0, 0]",204.565614,88.317397,606.409365,187.034855,986.571794,525.661915,204.565614,88.317397,606.409365,187.034855
96,207,206,신당,0,WED,19,50,2,6,37,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 1, 0, 0, 1, 0, 0, 0]",204.565614,88.317397,606.409365,187.034855,986.571794,525.661915,204.565614,88.317397,606.409365,187.034855
97,207,206,신당,0,WED,19,50,2,7,33,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 1, 0, 0, 1, 0, 0, 0]",204.565614,88.317397,606.409365,187.034855,986.571794,525.661915,204.565614,88.317397,606.409365,187.034855
98,207,206,신당,0,WED,19,50,2,8,27,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 1, 0, 0, 1, 0, 0, 0]",204.565614,88.317397,606.409365,187.034855,986.571794,525.661915,204.565614,88.317397,606.409365,187.034855
99,207,206,신당,0,WED,19,50,2,9,33,0.0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 1, 0, 0, 1, 0, 0, 0]",204.565614,88.317397,606.409365,187.034855,986.571794,525.661915,204.565614,88.317397,606.409365,187.034855

In [403]:
df_add = df_copy

In [404]:
df_add['Route Code'].dtype

dtype('O')

In [405]:
def make_new_column(df_add):
    # 1. station, dow, hour, minute, rounte code 당 칸 별 congestion 하나로 합치기

    # 'station'를 기준으로 그룹화하고 'Congestion' 값을 배열로 합치기
    df_add1 = df_add.groupby(['Station', 'Previous Station Code', 'Previous Station Name', 'Up/Down Line',
                                'Day of Week', 'Hour', 'Minute', 'Route Code', 'Number of Transfer',
           'Fast Transfer', 'Fast Get Off', '06-07시간대 승차', '06-07시간대 하차',
           '07-08시간대 승차', '07-08시간대 하차', '08-09시간대 승차', '08-09시간대 하차',
           '09-10시간대 승차', '09-10시간대 하차', '10-11시간대 승차', '10-11시간대 하차'], sort=False).agg({'Congestion': lambda x: x.tolist()}).reset_index()

    # 새로운 컬럼을 생성하고 배열의 각 요소를 해당 컬럼에 할당
    for i in range(10):
        df_add1[f'Congestion{i}'] = 0

    # 'Congestion' 컬럼 및 중간 단계 컬럼 제거
    df_add1 = df_add1.drop(columns=['Congestion'], axis=1)
    
    # 2. 승/하차 인원을 시간대에 맞게 남기기

    # '승차인원' 및 '하차인원' 컬럼 생성
    for index, row in df_add1.iterrows():
        hour = row['Hour']
        df_add1.loc[index, 'GetIn_cnt'] = row[f'{hour:02d}-{hour+1:02d}시간대 승차']
        df_add1.loc[index, 'GetOut_cnt'] = row[f'{hour:02d}-{hour+1:02d}시간대 하차']

    # 'Hour' 컬럼 및 중간 단계 컬럼 제거
    df_add2 = df_add1.drop(columns=[f'{hour:02d}-' + f'{hour+1:02d}시간대 승차' for hour in range(6, 11)] +
                           [f'{hour:02d}-' + f'{hour+1:02d}시간대 하차' for hour in range(6, 11)])
    
    # 'Hour'와 'Minute'를 합친 새로운 컬럼 'HourMinute' 만들기
    df_add2['HourMinute'] = df_add2['Hour'].astype(str).str.zfill(2) + df_add2['Minute'].astype(str).str.zfill(2)
    
    
    # 3. 이전 역 칸별 혼잡도 컬럼 추가
    # 새로운 컬럼 PrevCongestion0, PrevCongestion2, PrevCongestion3, ,,,, PrevCongestion9 만들기
    for i in range(10):
        df_add2[f'PrevCongestion{i}'] = 0
        
        
    #첫 번째 행만 'PrevCongestion'열 채우기
    for i in range(10):
        col_name= f'PrevCongestion{i}'
        df_add2.loc[0, col_name] = CONGESTION_LIST[i]

    
    # NaN 값 처리
    df_add2.fillna(value=np.nan, inplace=True)
    
    df_add3 = df_add2.copy()

    # 결측값 처리
    df_add3.fillna(0, inplace=True)

    # 함수 적용
    df_add3 = time_features(df_add3)
    df_add3 = drop_columns_and_one_hot_encode(df_add3)
    df_add3 = one_hot_encode_for_route_code(df_add3)
    df_add3 = process_fast_columns(df_add3)

    return df_add3

In [406]:
#만일 이 코드를 오후에 돌리고 있어서 '승하차 인원'열을 못 채우고 계신다면 이 셀을 실행하여 임의의 시간으로 바꿔주세요.
df_add['Hour'] = 9

In [407]:
new_df_add = make_new_column(df_add)

C:\Users\박수빈\AppData\Local\Temp\ipykernel_8060\2225249318.py:43: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '29' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_add2.loc[0, col_name] = CONGESTION_LIST[i]
C:\Users\박수빈\AppData\Local\Temp\ipykernel_8060\2225249318.py:43: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '27' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_add2.loc[0, col_name] = CONGESTION_LIST[i]
C:\Users\박수빈\AppData\Local\Temp\ipykernel_8060\2225249318.py:43: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '37' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_add2.loc[0, col_name] = CONGESTION_LIST[i]
C:\Users\박수빈\AppData\Local\Temp\ipykernel_8060\2225249318.py:43: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '33' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_add2.loc[0, col_name] = CONGESTION_LIST[i]

In [408]:
new_df_add

,Station,Previous Station Code,Up/Down Line,Day of Week,Hour,Minute,Number of Transfer,Congestion0,Congestion1,Congestion2,Congestion3,Congestion4,Congestion5,Congestion6,Congestion7,Congestion8,Congestion9,GetIn_cnt,GetOut_cnt,PrevCongestion0,PrevCongestion1,PrevCongestion2,PrevCongestion3,PrevCongestion4,PrevCongestion5,PrevCongestion6,PrevCongestion7,PrevCongestion8,PrevCongestion9,sin_time,cos_time,sin_minute,cos_minute,Route Code_0.0,Route Code_1.0,Route Code_2.0,Route Code_3.0,Route Code_4.0,Route Code_5.0,Fast Transfer0,Fast Transfer1,Fast Transfer2,Fast Transfer3,Fast Transfer4,Fast Transfer5,Fast Transfer6,Fast Transfer7,Fast Transfer8,Fast Transfer9,Fast Get Off0,Fast Get Off1,Fast Get Off2,Fast Get Off3,Fast Get Off4,Fast Get Off5,Fast Get Off6,Fast Get Off7,Fast Get Off8,Fast Get Off9
0,241,240,0,2,9,30,0.0,0,0,0,0,0,0,0,0,0,0,195.167832,172.491318,29,29,29,27,27,27,37,33,27,33,0.707107,-0.707107,5.665539e-16,-1.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
1,242,241,0,2,9,30,0.0,0,0,0,0,0,0,0,0,0,0,246.725192,153.286637,0,0,0,0,0,0,0,0,0,0,0.707107,-0.707107,5.665539e-16,-1.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0
2,243,242,0,2,9,30,1.0,0,0,0,0,0,0,0,0,0,0,147.876844,159.684725,0,0,0,0,0,0,0,0,0,0,0.707107,-0.707107,5.665539e-16,-1.0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0
3,201,243,0,2,9,40,1.0,0,0,0,0,0,0,0,0,0,0,40.253971,341.625642,0,0,0,0,0,0,0,0,0,0,0.707107,-0.707107,-8.660254e-01,-0.5,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,1,0,1,0
4,202,201,0,2,9,40,0.0,0,0,0,0,0,0,0,0,0,0,59.116156,436.677108,0,0,0,0,0,0,0,0,0,0,0.707107,-0.707107,-8.660254e-01,-0.5,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,0,0,0
5,203,202,0,2,9,40,1.0,0,0,0,0,0,0,0,0,0,0,31.145456,255.490508,0,0,0,0,0,0,0,0,0,0,0.707107,-0.707107,-8.660254e-01,-0.5,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,1,0
6,204,203,0,2,9,40,1.0,0,0,0,0,0,0,0,0,0,0,23.310220,169.683709,0,0,0,0,0,0,0,0,0,0,0.707107,-0.707107,-8.660254e-01,-0.5,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,1,0,0,1,0,1,0
7,205,204,0,2,9,40,2.0,0,0,0,0,0,0,0,0,0,0,55.092177,104.297345,0,0,0,0,0,0,0,0,0,0,0.707107,-0.707107,-8.660254e-01,-0.5,0,0,1,0,0,0,0,1,0,0,1,1,0,0,1,0,0,0,1,0,0,0,0,1,0,0
8,206,205,0,2,9,50,1.0,0,0,0,0,0,0,0,0,0,0,155.976314,119.105982,0,0,0,0,0,0,0,0,0,0,0.707107,-0.707107,-8.660254e-01,0.5,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,1,0,0,1,1,0,0
9,207,206,0,2,9,50,0.0,0,0,0,0,0,0,0,0,0,0,204.565614,88.317397,0,0,0,0,0,0,0,0,0,0,0.707107,-0.707107,-8.660254e-01,0.5,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0

In [394]:
df

,Station,Previous Station Code,Up/Down Line,Day of Week,Hour,Minute,Number of Transfer,Congestion0,Congestion1,Congestion2,Congestion3,Congestion4,Congestion5,Congestion6,Congestion7,Congestion8,Congestion9,GetIn_cnt,GetOut_cnt,PrevCongestion0,PrevCongestion1,PrevCongestion2,PrevCongestion3,PrevCongestion4,PrevCongestion5,PrevCongestion6,PrevCongestion7,PrevCongestion8,PrevCongestion9,sin_time,cos_time,sin_minute,cos_minute,Route Code_0.0,Route Code_1.0,Route Code_2.0,Route Code_3.0,Route Code_4.0,Route Code_5.0,Fast Transfer0,Fast Transfer1,Fast Transfer2,Fast Transfer3,Fast Transfer4,Fast Transfer5,Fast Transfer6,Fast Transfer7,Fast Transfer8,Fast Transfer9,Fast Get Off0,Fast Get Off1,Fast Get Off2,Fast Get Off3,Fast Get Off4,Fast Get Off5,Fast Get Off6,Fast Get Off7,Fast Get Off8,Fast Get Off9
0,201,201,0,4,6,0,1.0,14.0,21.0,20.00,16.00,13.0,11.00,12.0,16.00,15.0,12.00,22.841920,193.853810,14.0,21.0,20.00,16.00,13.0,11.00,12.0,16.00,15.0,12.00,1.000000,6.123234e-17,0.000000,1.0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,1,0,1,0
1,201,201,0,4,6,0,1.0,14.0,21.0,20.00,16.00,13.0,11.00,12.0,16.00,15.0,12.00,22.841920,193.853810,14.0,21.0,20.00,16.00,13.0,11.00,12.0,16.00,15.0,12.00,1.000000,6.123234e-17,0.000000,1.0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,1,0,1,0
2,201,201,0,4,6,0,1.0,14.5,21.5,20.75,16.50,13.5,11.25,12.5,16.75,15.5,12.50,22.841920,193.853810,14.5,21.5,20.75,16.50,13.5,11.25,12.5,16.75,15.5,12.50,1.000000,6.123234e-17,0.000000,1.0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,1,0,1,0
3,201,201,0,4,6,10,1.0,7.0,11.0,12.00,9.00,10.0,16.00,5.0,9.00,6.0,5.00,22.841920,193.853810,7.0,11.0,12.00,9.00,10.0,16.00,5.0,9.00,6.0,5.00,1.000000,6.123234e-17,0.866025,0.5,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,1,0,1,0
4,201,201,0,4,6,10,1.0,7.0,11.0,12.00,9.00,10.0,16.00,5.0,9.00,6.0,5.00,22.841920,193.853810,7.0,11.0,12.00,9.00,10.0,16.00,5.0,9.00,6.0,5.00,1.000000,6.123234e-17,0.866025,0.5,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30327,243,243,0,0,8,10,1.0,33.0,43.0,46.00,51.00,42.0,45.00,42.0,54.00,40.0,33.00,194.784974,526.208586,33.0,43.0,46.00,51.00,42.0,45.00,42.0,54.00,40.0,33.00,0.866025,-5.000000e-01,0.866025,0.5,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0
30328,243,243,0,0,8,10,1.0,33.0,43.0,46.00,51.00,42.0,45.00,42.0,54.00,40.0,33.00,194.784974,526.208586,33.0,43.0,46.00,51.00,42.0,45.00,42.0,54.00,40.0,33.00,0.866025,-5.000000e-01,0.866025,0.5,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0
30329,243,243,0,0,8,10,1.0,33.0,43.0,46.00,51.25,42.0,45.00,42.0,53.75,40.0,33.25,194.784974,526.208586,33.0,43.0,46.00,51.25,42.0,45.00,42.0,53.75,40.0,33.25,0.866025,-5.000000e-01,0.866025,0.5,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0
30330,243,243,0,0,8,20,1.0,24.5,26.5,31.00,32.50,31.0,32.00,31.0,36.00,35.5,24.50,194.784974,526.208586,24.5,26.5,31.00,32.50,31.0,32.00,31.0,36.00,35.5,24.50,0.866025,-5.000000e-01,0.866025,-0.5,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0
30331,243,243,0,0,8,20,1.0,35.0,38.0,0.00,0.00,0.0,0.00,0.0,0.00,0.0,0.00,194.784974,526.208586,45.0,47.0,45.00,46.00,45.0,52.00,51.0,35.00,0.0,0.00,0.866025,-5.000000e-01,0.866025,-0.5,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0